.accountHead {
    display: flex; 
    justify-content: space-between;
    background-color: var(--primary);
}

.accountHead span {
    margin: 15px; 
}

.termList {
    margin-top: 5px; 
}

.listTitle {
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
}

.createButton {
    border: 3px solid #468579; 
    border-radius: 15px;
    margin: 20px; 
    color: blue; 
    padding: 5px; 
  }

  .center {
      display: flex; 
      justify-content: space-evenly;
  }

  .termSel {
    font-weight: 800;
    color: blue; 
    font-size: 28px; 
    margin-top: 5px; 
}