.courseListing {
    display: flex;
    justify-content: space-around;
    border: 2px solid #31676F;
    margin: 7px; 
    padding-top: 7px; 
    padding-bottom: 7px;
    font-size: 16px; 
    background-color: white;
}