.accountHead {
    display: flex; 
    justify-content: space-between;
    background-color: #FACA8C;
}

.accountHead span {
    margin: 5px; 
}

.termClasses {
    border: 2px solid #468579; 
    margin-top: 10px; 
}