.accountHead {
    display: flex; 
    justify-content: space-between;
    background-color: #FACA8C;
}

.accountHead span {
    margin: 15px; 
}

.termClasses {
    border: 2px solid #468579; 
    margin-top: 10px; 
}

.totalsInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.totalsBox {
    margin: 10px 25px;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 45px;
    box-shadow: 1px 3px gray;
    width: 200px;
    background-color: #E8E8E8;
}
.totalsBox .top {
    color: blue;
    font-size: 16px;
}
.totalsBox .mid{
    font-size: 32px;
    font-weight: bold;
}
.totalsBox .bottom {
    font-color: yellow;
    font-size: 16px;
}


